.dashmain{
    background-color: #0b0c2a;
    width: 50%;
    margin-left: 160px;
}
.dashhead{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: aliceblue;
}
.dashhead1{
    background-color: brown;
    height: 50px;
    width: 7px;
}
.Dheadh1{

    color: white;
    margin-left: -470px;
    font-size: 20px;
    font-weight: 500;
}
.dhead2{
    display: flex;
    color: white;
    align-items: center;   
    justify-content: space-between;
    width: 100px;
}

.dashcontent{
   width: 30%; 
}
.dashcard{
   position: relative;
   width: 100px;
     
}
.dashimg img{
  width: 30%;
  border-radius: 10px;
    height: 20%;
    
}
.animeimg{
    opacity: 1;
}

.episode{
    top:10px;
    position: absolute;
    margin-left: 20px;
    background-color: red;
    height: 25px;
    
    border-radius: 4px;
    text-align: center;
    width: 25px;
}
.comment{
    position: absolute;
    bottom: 20px;
    background-color:grey;
    margin-left: 20px;
    height: 25px;
    width: 60px;
    border-radius: 4px;
    text-align: center;
}
.views{
    position: absolute;
    background-color:grey;
    bottom: 20px;
   left: 170px;
    border-radius: 4px;
    width: 50px;
    height: 25px;
    text-align: center;
    
}
.dashdata{
    display: flex;
    flex-wrap: wrap;
   gap: 33px;
    width: 100%;
    height: 100%;
   
    color:white;
}
.cardgener{
   
    display: flex;
    gap:10px;
}
.actiongener, .moviegener{
    border-radius: 50px;
    width: 65px;
    background-color: grey;
    text-align: center;
}
.animename{

    font-weight: 700;
    font-size: 26px;
    margin-top: 20px;
}
.carddetail{
    margin-top: 20px;   
}
.dashimg img{
    width: 236px;
    height: 300px;
}
