.detmain{
 
    background-color: #0b0c2a;
   height: 80vh;
   width: 77%;
   margin-left: 170px;
   margin-top: 45px;
   color: white;
}
.relpath{
    margin-bottom: 40px;
}
.detcontent{
    display: flex;
    margin-top: 10px;
    height: 100%;
    width: 100%;
}
.detcard{
    width: 120%;
    position: relative;
}
.detcard img{
  width: 85%;
  height: 85%;
  border-radius: 8px;
}
.detview{
    position: absolute;
    bottom: 100px;
    left: 20px;
    color: aliceblue;
    background-color: black;
    border-radius: 4px;
    width: 15%;
    text-align: center;
    opacity: .85;
    
}
.detcomment{
    background-color: black;
    color: aliceblue;
    position: absolute;
    bottom: 100px;
    right: 80px;
    border-radius: 4px;
    width: 25%;
    text-align: center;
    opacity: .85;
}
.detcheck{
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.datadet{
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
height: 90%;

}
.fbutwatch{
    margin-left: 20px;
}

.detbutton button{
    background-color: red;
    color: aliceblue;
    border-radius: 4px;
    height: 50px;
    width: 25%;
    font-size: 16px;
    font-weight: 100;
}
.dethead{
    
 margin-top: -25px;
}
