.frontpage{
    background-color: #0b0c2a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.frontmain{

display: flex;
align-items:center;
width: 85%;
height: 80%;


}
.frontimg{

   width: 100%;
   height: 100%;
   position: relative;
   border-radius: 4px;
  
}
.firstbut{
    font-size: 50px;
}
.secondbut{
    font-size: 50px;
}
.butleft{
    background-color: blueviolet;    
}
.butright{
    background-color: blueviolet; 
}