
 .HeadBox{
    background-color:#070720;
    width: 100%;
    height: 62.5px;
   
}
.headNavBar{
  display: flex;
  justify-content:space-around;
}
.hh1{
    color: aliceblue;
    box-sizing: border-box;
   
    height: 62.5px;
    margin-top: 0;
    padding-top: 10px;
    padding-left: 50px;
}
.list{
    

height:70px


}
.Unli{
    display: flex;
    list-style: none;
  padding: 0px 10px 10px 5px;
  
    gap: 30px;
    color: white;
    margin: 0px;
  
}

.hicon{
   color: aliceblue;
   padding: 10px;
  
}
.iconx{
   padding-top: 10px;
    font-size: 28px;
   
    box-sizing: border-box;
    height: 62.5px;
    padding-right: 50px;
    
} 
.Unli li{
    list-style: none;
   
   padding-top:20px;
   text-align: center;
  height: 62.5px;
  width: 100px;
 box-sizing: border-box;
 font-weight: 700;
 

}
.category{
    position: relative;
   
    
    
}
.hdropdown{
    color: black;
    
    display: none; 
    box-sizing: border-box;
    position: absolute;
    background-color:rgb(255, 255, 255);
    

    margin-top: 28px;
    padding: 0;
}
.category:hover .hdropdown{
    display: block;
  
}
.hdropdown li{

   padding: 0;
   font-size: 14px;
   /* border-bottom: 1px solid grey; */
   font-weight: 500;
   font-family: Lexend;
   height:25px;
   text-align: start;
   margin-left: 13px;
 
  
}
.homepageli{
    background-color: #e53637;
    
}
