.lody{
    background-color:#EEEEEE; 
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}
.signin{
    color: #ffa500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 16px;
    width: 350px;
    height: 400px;
  text-align: center;

    /* backdrop-filter: blur(10px); */
    
    /* background: transparent; */
}
.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.but{
    background-color: #ffa500;
    border-radius: 20px;
    width: 296px;
    height: 40px;
    border:none;
    color: #fff;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
   height: 50px;
   background-color:transparent;
   margin: 20px;
}
.signinput{
    height: 40px;
    width: 296px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ffa500;
}
.signtext{
    color: #ffa500;
}

.signicon{
    margin: 10px;
    font-size: 40px;
    color: #ffa500;
}