.mainTop {
  margin-left: 40px;
  color: white;
  width: 26%;

  height: 100%;
}
.headTop {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6%;
}
.redTop {
  background-color: red;
  width: 7px;
  height: 100%;
}
.timeTop {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}
.cardTop {
  width: 100%;
  /* background-color: aqua; */
  height: 100%;
}
.animetimg {
  width: 100%;
  height: 20%;
  /* background-color: aqua; */
  position: relative;
  margin-top: 15px;
  
}
.animetimg img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  position: absolute;
 
  
}
.animetimg p {
  color: white;
  position: absolute;
  margin-top: 140px;
  margin-left: 20px;
  font-weight: 800;
  font-size: 24px;
}
